/* CSS declarations go here */
body {
	text-align:center;
}
textarea {
	height:180px;
	width:400px;
	max-width:100%;
	margin:10px auto 0 auto;
}

.button{
	margin-top:10px;
	width:400px;
}

#map { height: 180px; }

